APP_NAME=Helpdesk
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tudominio.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_BO

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=helpdesk
DB_USERNAME=helpdesk_user
DB_PASSWORD=cambia_esta_contrasena

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_EXPIRE_ON_CLOSE=true
SESSION_ENFORCE_SINGLE_LOGIN=true
SESSION_CONCURRENT_WINDOW_SECONDS=30
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
HELPDESK_CHAT_ATTACHMENTS_DISK=public
HELPDESK_CHAT_ATTACHMENTS_DIR=ticket-mensajes
HELPDESK_PENDING_TICKET_REMINDER_MINUTES=5
HELPDESK_PENDING_TICKET_REMINDER_WEB_FALLBACK=true
HELPDESK_NOTIFICATIONS_RETENTION_DAYS=7
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.tudominio.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS="soporte@tudominio.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
REVERB_APP_ID=helpdesk
REVERB_APP_KEY=cambia-esta-key
REVERB_APP_SECRET=cambia-este-secret
REVERB_HOST=tudominio.com
REVERB_PORT=443
REVERB_SCHEME=https
REVERB_SERVER_HOST=127.0.0.1
REVERB_SERVER_PORT=8080
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

ANYDESK_CLOSE_COMMAND=
